.add-meals-page{
    padding: 1rem 0.2rem;
    display: flex;
    flex-direction: column;
    .option{
        margin-bottom: 1rem;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        height: 130px;
        justify-content: center;
        align-items: center;

        .title{
            font-size: 2.4rem;
            font-weight: 700;
        }
        .controls{
            border: 1px solid rgb(0, 0, 0);
            color: white;
            overflow: hidden;
            border-radius: 4px;
            width: 80%;
            height: 30px;
            display: flex;
            flex-wrap: nowrap;
            input{
                width: 70%;
                padding: 0 0.5rem;
                font-style: italic;
                background:none;
                border: none;
                color: white;
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    color: rgba(255, 255, 255, 0.75);
                    letter-spacing: 0.25rem;
                }
            }
            button{
                background-color: #5B5C5C;
                color: white;
                border: none;
                min-width: 30%;
                font-size: 1rem;
            }
        }


    }




}