.add-meals-page{
    padding: 1rem 0.2rem;
    display: flex;
    flex-direction: column;

    .daily-summary{
        text-align: center;
        position: relative;
        .title{
            font-size: 2rem;
            font-weight: 300;
        }
        .counter{
            font-size: 3.6rem;
            font-weight: 500;
            .failed{
                color: red;
            }
            .kcal{
                font-size: 1.4rem;
            }
        }
        .date{
            position: absolute;
            top:0;
            left:0;
        }
    }


    .option{
        a{
            color: white;
            text-decoration: none;
            padding: 1rem 3.5rem;
            font-size: 2rem;
            background-color: var(--secondary-color);
            border-radius: 12px;
            &:active,&:hover{
                background-color: var(--secondary-color-active);
            }
        }
        p{
            width: 70%;
            font-size: 1.2rem;
            text-align: center;
            color: rgba(255, 255, 255, 0.75);
            font-style: italic;
        }

        .title{
            font-size: 2.4rem;
            font-weight: 700;
        }
        .controls{
            border: 1px solid rgb(0, 0, 0);
            color: white;
            overflow: hidden;
            border-radius: 4px;
            width: 80%;
            height: 30px;
            display: flex;
            flex-wrap: nowrap;
            input{
                width: 70%;
                padding: 0 0.5rem;
                font-style: italic;
                background:none;
                border: none;
                color: white;
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    color: rgba(255, 255, 255, 0.75);
                    letter-spacing: 0.25rem;
                }
            }
            button{
                background-color:var(--secondary-color);
                color: white;
                border: none;
                outline: none;
                min-width: 30%;
                font-size: 1rem;
                transition: all 0.5s ease-in;
                &:active,&:hover{
                    background-color: var(--secondary-color-active);
                }
            }
        }
    }
}